{% extends 'app/base.html' %}

{% block title %}Project - {{ project.name }}{% endblock %}

{% block submenu %}
<li class="nav-item d-none d-sm-inline-block">
    <a href="{% url 'project_info' project.id %}" class="nav-link">Project details</a>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <a href="{% url 'project_asset' project.id %}" class="nav-link">Assets</a>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <a href="{% url 'project_vuln' project.id %}" class="nav-link">Vulnerabilities</a>
</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <table id="assets-table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Risk</th>
                    <th>Vulnerabilities</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
	<div class="card-footer">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAsset">Add asset</button>
	</div>
</div>

<div class="modal fade" id="addAsset" tabindex="-1" role="dialog" aria-labelledby="addAssetLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
		<div class="modal-content">
            <form method="POST" action="{% url 'asset_add' project=project.id%}">
            <div class="modal-header">
				<h5 class="modal-title" id="addAssetLabel">New asset</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name:</label>
                    {{form.name}}
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Type:</label>
                    {{form.type}}
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Notes:</label>
                    {{form.notes}}
                </div>
			</div>

			<div class="modal-footer">
				<button id="closeClearAsset" type="button" class="btn btn-danger" data-dismiss="modal">Clear</button>
				<button type="submit" class="btn btn-primary">Create asset</button>
			</div>
            </form>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    tinymce.init({
      selector: 'textarea',
      //plugins: 'advcode linkchecker autolink lists checklist powerpaste table advtable tinymcespellchecker',
      plugins: 'autolink lists table',
      toolbar: 'undo redo | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | checklist |  table | code',
      toolbar_mode: 'floating',
    });

    $('#closeClearAsset').click(function() {
		$('#addAsset').find("input,select").val('').end();
		tinymce.activeEditor.setContent('');
	});

    $('#assets-table').DataTable({
		"processing": true,
		"serverSide": true,
		"ajax": {
			"url": "{% url 'assets_data' project=project.pk%}",
			"type": "GET"
		},
		"columns": [
			{
				"data": "name",
				render: function(data, type, row, meta) {
					return '<a href="/project/{{project.pk}}/assets/'+data.id+'/">'+data.name+'</a>';
				}
			},
			{"data": "type"},
			{"data": "risk"},
			{"data": "vulnerabilities"},
		]
	});


});
</script>
{% endblock %}