{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<table id="projects-table" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;" width="100%">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Status</th>
			<th>Risk</th>
			<th>Issues</th>
		</tr>
	</thead>
	<tbody>
		{% for key, value in projects.items %}
	 	<tr>
			<td><a href="{% url 'project' key%}" >{{ value.info.id }}</a></td>
	        <td><a href="{% url 'project' key%}" >{{ value.info.name }}</a></td>
	        <td>{{ value.info.status }}</td>
	        <td>{{ value.risk }}</td>
	        <td>{{ value.issues }}</td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
	$('#projects-table').DataTable({
            responsive: true
	});
});
</script>
{% endblock %}