{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Status</th>
			<th>Risk</th>
			<th>Issues</th>
		</tr>
	</thead>
	<tbody>
		{% for project in projects %}
	 	<tr>
			<td><a href="{% url 'project' project.id %}" >{{ project.id }}</a></td>
	        <td><a href="{% url 'project' project.id %}" >{{ project.name }}</a></td>
	        <td>1</td>
	        <td>2</td>
	        <td>3</td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}