{% extends 'base.html' %}

{% block title %}Project{% endblock %}

{% block menu %}
<li>
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Project ID<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
    	<li>
            <a href="morris.html">Information</a>
        </li>
    	<li>
            <a href="morris.html">Assets</a>
        </li>
        <li>
            <a href="flot.html">Vulnerabilities</a>
        </li>        
    </ul>
</li>
{% endblock %}

{% block content %}{% endblock %}