{% extends 'base.html' %}

{% block title %}Project - {{ project.name }}{% endblock %}

{% block menu %}
<li>
    <a><i class="fa fa-folder-open fa-fw"></i> Project {{ project.id }}</a>
    <ul class="nav nav-second-level collapse">
    	<li>
            <a class="active" href="{% url 'project_info' project.id %}"><i class="fa fa-bar-chart-o fa-fw"></i> Information</a> 
        </li>
    	<li>
            <a href="{% url 'project_asset' project.id %}"><i class="fa fa-sitemap fa-fw"></i> Assets</a> 
        </li>
        <li>
            <a href="{% url 'project_vuln' project.id %}"><i class="fa fa-file-text-o fa-fw"></i> Vulnerabilities</a>
        </li>
    </ul>
</li>
{% endblock %}

{% block content %}
<h1>INFO</h1>
{% endblock %}

{% block js %}
{% endblock %}