{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<table style="width: 100%;" aria-describedby="dataTables-example_info" role="grid" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" width="100%">
	<thead>
		<tr role="row">
			<th>Name</th>
			<th>Status</th>
			<th>Risk</th>
			<th>Issues</th>
		</tr>
	</thead>
	<tbody>
		{% for project in object_list %}
	 	<tr role="row">
	        <td>{{ project.name }}</td>
	        <td>Firefox 1.0</td>
	        <td>Win 98+ / OSX.2+</td>
	        <td>1.7</td>
	        <td>A</td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#projects-table').DataTable({
        responsive: true
    });
});
</script>
{% endblock %}